.box {
  width: 400px;
  height: 500px;
  background: #000;
  background-size: cover;
  border-radius: 10px;
  background-position: top;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.box:hover {
  background-position: bottom;
}
