.ok {
    color: red;
    display: flex;
}

h2 {
    color: white;
    // margin-top: 20px;
    font-weight: 400;
    // font-size: 11px;
    // font-family: sans-serif;
    // letter-spacing: 3px;
    // animation: fadeIn 1s 1.8s backwards;
    // opacity: 1;
}

// .fade-in {

// }

@for $i from 1 through 5 {
    .fadeIn_#{$i} {

        opacity: 0;
        animation: fadeIn;
        animation-duration: 1s;
        animation-delay: #{$i}s;
        animation-fill-mode: forwards;

    }
}



// @for $i from 1 through 40 {

//     .text-animate._#{$i} {
//         animation-delay: #{$i / 10}s;
//     }

// }


#home_div {
    transition-property: min-height;
    transition-duration: 2s;
}

.h_i {
    min-height: 50vh;
}

.h_f {
    min-height: 100vh;
}